@import url("./normalize.css");
@import url("/src/shared/fonts/SFMono/stylesheet.css");

:root {
    --bg-color: #212121;
    --secondary-bg-color: #1C1C1E;
    --text-color: var(--tg-theme-text-color);
    --button-bg-color: var(--tg-theme-button-color);
    --hint-color: #B2B2B2
}

html {
    font-family: 'SFMono', Arial, serif;
    user-select: none;
}

body {
    padding: 15px 15px;
    color: var(--text-color);
    overflow: hidden;
    background-color: var(--secondary-bg-color);
}
