.wrapper {
    display: flex;
    width: 100%;
    font-family: "SF Pro Text", serif;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}