.button {
    display: flex;
    white-space: nowrap;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    width: 100%;
    background-color: var(--button-bg-color);
    border-radius: 20px;
    transition: opacity 0.2s;
}
.button:hover {
    opacity: 0.8;
}
.button:active {
    opacity: 0.65;
}
.button:disabled {
    opacity: 0.35;
    cursor: not-allowed;
}
