.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 16px 40px;
}

.title__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.text__wrapper {
    display: flex;
    flex-direction: column;
}